
/* HHSOJ basic CSS file */
/* by Zzzyt from Hell Hole Studios */

hr {
	margin-top: 10px;
	margin-bottom: 10px;
	clear: both;
}

input[type=button], input[type=submit], button {
	margin: 5px;
}

a[class~="btn"] {
	margin: 5px;
}

div[class~="input-group"] {
	margin: 5px;
}

table {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

code, kbd, pre, samp {
	padding: 3px 6px !important;
}

pre {
	margin-top: 8px;
	margin-bottom: 8px;
}

pre > code {
	padding: 0 !important;
}

/* Sorry Bootstrap, but flexs are just too hard to handle */

.card {
	display: block;
}

/* Markdown:Anchor style */
/* from excing, slightly modified by Zzzyt */

.octicon {
	display: inline-block;
	fill: currentColor;
	vertical-align: middle;
	visibility: hidden;
}

h1:hover .octicon, h2:hover .octicon, h3:hover .octicon, h4:hover .octicon,
	h5:hover .octicon, h6:hover .octicon {
	visibility: visible;
}

.anchor {
	line-height: 1;
	margin-left: -20px;
	padding-right: 4px;
}

.anchor:focus .octicon {
	visibility: visible;
}


/* Markdown:Catalog style */
/* from excing, slightly modified by Zzzyt */

.cat ul {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
}

.cat ul {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 40px;
}

.cat li {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.container {
	border-radius: 10px;
	padding: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.title-right {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 16px;
	float: right;
	text-align: right;
}

.title-left {
	display: inline;
}

.title {
	margin: 10px 20px;
	float: left;
}

.subtitle {
	margin: 10px 20px;
	float: left;
	clear: both;
}

.topbar-item a {
	font-size: 22px;
	line-height: 34px;
	padding-left: 8px !important;
	padding-right: 8px !important;
}

.navbar-brand img {
	width: 40px;
}

.navbar-brand {
	padding: 5px;
	transition: 0.2s;
	margin: 0;
}

@media (min-width:768px) {
	.topbar-nav {
		height: 50px;
	}
}

.ml-auto {
	margin-left: 0 !important;
}

.mr-auto {
	margin-right: 0 !important;
	float: right !important;
	margin-left: auto !important;
}

.topbar {
	padding: 0;
}

.topbar-nav {
	padding-top: 0;
	padding-bottom: 0;
}

.card-collapse {
	margin-bottom: 10px;
}

.nostyle, .nostyle:hover, .nostyle:visited, .notstyle:active {
	text-decoration: none;
}

.status-table {
	align-self: center;
	margin: 0 auto;
	min-width: 500px;
}

.center-form {
	margin: 0 auto;
	margin-top: 50px;
	width: 300px;
}

.vcard-collapse {
	padding: 0 20px;
}

.vcard {
	margin: 3px;
	float: left;
	width: 100px;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 0.25rem;
	cursor: pointer;
}

.vcard-detail {
	margin: 3px;
	clear: both;
	border-radius: 0.25rem;
}

@media (min-width:768px) {
	.vcard {
		margin: 10px;
	}
	
	.vcard-detail {
		margin: 10px;
	}
}

@media (min-width:1200px) {
	.vcard {
		margin: 7px;
	}
	
	.vcard-detail {
		margin: 7px;
	}
}

.vcard-verdict {
	line-height: 40px;
	font-size: 40px;
}

.vcard-score {
	line-height: 40px;
	font-size: 28px;
}

.vcard-tm {
	font-size: 12px;
}

.vcard-test {
	width: 90px;
	font-size: 12px;
}

.vcard-hide {
	display: none;
}

.vcard:hover > .vcard-hide {
	display: block !important;
}

.vcard-show {
	display: block;
}

.vcard:hover > .vcard-show {
	display: none !important;
}

@media (min-width:768px) {
	.copy-btn-wrapper {
		display: block ! important;
	}
	
	.sample-in {
		width: 48%;
		float: left;
	}
	
	.sample-out {
		width: 48%;
		float: right;
	}
	
	.sample-in-wrapper {
		width: 48%;
		float: left;
	}
	
	.sample-in-wrapper .copy-btn {
		top: 8px;
	}
	
	.sample-out-wrapper {
		width: 48%;
		float: right;
	}
	
	.sample-out-wrapper .copy-btn {
		top: 8px;
	}
}

.copy-btn-wrapper {
	display: none;
	margin: 0;
	position: relative;
}

.copy-btn {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	z-index: 10;
	display: block;
	font-size: 12px;
	cursor: pointer;
	border: 0;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.status-card {
	background: #fff;
	margin: 8px 0;
	padding: 5px;
	display: flex;
	flex-direction: column;
}

.status-card-col {
	display: flex;
	flex-direction: row;
	margin: 4px 0;
}

@media (min-width:576px) {
	.status-card-col {
		float: left;
		flex-direction: column;
		justify-content: center;
		margin: 0;
	}
	
	.status-card {
		flex-direction: row;
	}
}

.status-card-id {
	font-size: 15px;
}

.status-card-author {
	font-size: 15px;
	margin-bottom: 0;
	word-break: break-all;
}

.status-card-time {
	margin-bottom: 0;
}

@media (min-width:576px) {
	.pagenav {
		float: right;
	}
}