/* HHSOJ basic CSS file */
/* by Zzzyt from Hell Hole Studios */

body {
	background: #f8f8f8;
}

.container {
	background: #f8f8f8;
}

.sans-font {
	font-family: 'Noto Sans CJK SC', 'Noto Sans CJK TC', 'Noto Sans CJK JP', 'Noto Sans SC', 'Noto Sans', 'Roboto', sans-serif;
}

.mono-font {
	font-family: 'Consolas', 'Ubuntu Mono', 'Lucida Console', monospace;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Noto Sans CJK SC', 'Noto Sans CJK TC', 'Noto Sans CJK JP', 'Noto Sans SC', 'Noto Sans', 'Roboto', sans-serif;
}

pre,
code {
	font-family: 'Consolas', 'Ubuntu Mono', 'Lucida Console', monospace;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
	clear: both;
}

a[class~="btn"],
input[type~=button],
input[type~=submit],
button {
	margin: 5px;
	font-family: 'Noto Sans CJK SC', 'Noto Sans CJK TC', 'Noto Sans CJK JP', 'Noto Sans SC', 'Noto Sans', 'Roboto', sans-serif;
}

div[class~="input-group"] {
	margin: 5px;
}

.nostyle,
.nostyle:hover,
.nostyle:visited,
.notstyle:active {
	color: inherit;
	text-decoration: none;
}

table {
	background: #fff;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

table>tr>th {
	background: #dee2e6;
}

table>tbody>tr>th {
	background: #dee2e6;
}

pre {
	margin-top: 8px;
	margin-bottom: 8px;
}

pre > code {
	padding: 0 !important;
}

code,
kbd,
pre,
samp {
	padding: 3px 6px !important;
	border-radius: 3px;
	background-color: #f0f0f0;
}

code:empty,
kdb:empty,
pre:empty,
samp:empty {
	border-radius: 0;
	visibility: hidden;
}

.hljs {
	border-radius: 3px;
}

/* Sorry Bootstrap, but flexs are just too hard to handle */

.card {
	display: block;
}

/* Markdown:Anchor style */
/* from excing, slightly modified by Zzzyt */

.octicon {
	color: #1b1f23;
	display: inline-block;
	fill: currentColor;
	vertical-align: middle;
	visibility: hidden;
}

h1:hover .octicon,
h2:hover .octicon,
h3:hover .octicon,
h4:hover .octicon,
h5:hover .octicon,
h6:hover .octicon {
	visibility: visible;
}

.anchor {
	line-height: 1;
	margin-left: -20px;
	padding-right: 4px;
}

.anchor:focus .octicon {
	visibility: visible;
}


/* Markdown:Catalog style */
/* from excing, slightly modified by Zzzyt */

.cat ul {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 0;
}

.cat ul {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 40px;
}

.cat li {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.container {
	border-radius: 10px;
	padding: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.title-right {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 16px;
	float: right;
	text-align: right;
}

p[class~="title-right"],
span[class~="title-right"] {
	color: #777;
}

.title-left {
	font-weight: bold;
	display: inline;
}

.title {
	margin: 10px 20px;
	float: left;
}

.subtitle {
	margin: 10px 20px;
	float: left;
	clear: both;
}

.statement h1,
.statement h2,
.statement h3,
.statement h4,
.statement h5,
.statement h6 {
	font-weight: bold;
}

/* topbar */

.topbar-item a {
	font-weight: bold;
	font-size: 22px;
	line-height: 34px;
	padding-left: 8px !important;
	padding-right: 8px !important;
}

.topbar-item {
	transition: 0.2s;
}

.topbar-item:hover {
	background: #777;
}

.navbar-brand {
	padding: 5px;
	transition: 0.2s;
	margin: 0;
}

.navbar-brand:hover {
	background: #777;
}

.navbar-brand img {
	width: 40px;
}

@media (min-width: 768px) {
	.topbar-nav {
		height: 50px;
	}
}

.ml-auto {
	margin-left: 0 !important;
}

.mr-auto {
	margin-right: 0 !important;
	float: right !important;
	margin-left: auto !important;
}

.topbar {
	font-family: 'Consolas', 'Ubuntu Mono', 'Lucida Console', monospace;
	padding: 0;
}

.topbar-nav {
	padding-top: 0;
	padding-bottom: 0;
}

.card-collapse {
	margin-bottom: 10px;
}

.status-table {
	align-self: center;
	margin: 0 auto;
	min-width: 500px;
}

.center-form {
	margin: 0 auto;
	margin-top: 50px;
	width: 300px;
}

.vcard-collapse {
	padding: 0 20px;
}

/* vcard */

.vcard {
	background: #aaa;
	transition: 0.3s;
	font-family: 'Consolas', 'DejaVu Sans Mono', 'Ubuntu Mono', 'Lucida Console', monospace;
	margin: 3px;
	float: left;
	width: 100px;
	height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 0.25rem;
	cursor: pointer;
}

.vcard-detail {
	margin: 3px;
	clear: both;
	border-radius: 0.25rem;
}

@media (min-width: 768px) {
	.vcard {
		margin: 10px;
	}
	
	.vcard-detail {
		margin: 10px;
	}
}

@media (min-width: 1200px) {
	.vcard {
		margin: 7px;
	}
	
	.vcard-detail {
		margin: 7px;
	}
}

.vcard-verdict {
	font-weight: bold;
	color: #fff;
	line-height: 40px;
	font-size: 40px;
}

.vcard-score {
	font-weight: bold;
	color: #fff;
	line-height: 40px;
	font-size: 28px;
}

.vcard-tm {
	color: #fff;
	font-size: 12px;
}

.vcard-test {
	color: #fff;
	width: 90px;
	font-size: 12px;
}

.vcard-hide {
	display: none;
}

.vcard:hover {
	filter: brightness(85%);
}

.vcard:hover > .vcard-hide {
	display: block !important;
}

.vcard-show {
	display: block;
}

.vcard:hover > .vcard-show {
	display: none !important;
}

.vcard *{
	font-family: inherit;
}

.vcard-ac {
	background: #0c0;
}

.vcard-wa {
	background: #00d;
}

.vcard-tle {
	background: #f80;
}

.vcard-mle {
	background: #a0a;
}

.vcard-re {
	background: #d00;
}

.vcard-rf {
	background: #cb0;
}

.vcard-pt {
	background: #6cf;
}

/* Copy button */

@media (min-width: 576px) {
	.copy-btn-wrapper {
		display: block ! important;
	}
}

.copy-btn-wrapper {
	display: none;
	margin: 0;
	position: relative;
}

.copy-btn {
	color: #999;
	background-color: transparent;
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	z-index: 10;
	display: block;
	font-size: 12px;
	cursor: pointer;
	border: 0;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.copy-btn:hover {
	color: #fff;
	background-color: #666;
}

.colored-header span {
	color: #fff;
}

/* I/O Format */

@media (min-width: 768px) {
	.sample-in {
		width: 48%;
		float: left;
	}
	
	.sample-out {
		width: 48%;
		float: right;
	}
	
	.sample-in-wrapper {
		width: 48%;
		float: left;
	}
	
	.sample-in-wrapper .copy-btn {
		top: 8px;
	}
	
	.sample-out-wrapper {
		width: 48%;
		float: right;
	}
	
	.sample-out-wrapper .copy-btn {
		top: 8px;
	}
}

/* Status card */

.status-card {
	background: #fff;
	margin: 8px 0;
	padding: 5px;
	display: flex;
	flex-direction: column;
}

.score-badge {
	font-size: 15px;
	font-weight: bold;
	color: #fff;
	font-family: 'Consolas', 'Ubuntu Mono', 'Lucida Console', monospace;
}

.status-card-col {
	display: flex;
	flex-direction: row;
	margin: 4px 0;
}

@media (min-width: 576px) {
	.status-card-col {
		float: left;
		flex-direction: column;
		justify-content: center;
		margin: 0;
	}
	
	.status-card {
		flex-direction: row;
	}
}

.status-card-id {
	font-size: 15px;
}

.status-card-author {
	font-size: 15px;
	margin-bottom: 0;
	word-break: break-all;
}

.status-card-time {
	margin-bottom: 0;
}

@media (min-width: 576px) {
	.sm-float-right {
		float: right;
	}
}